body {
  font-family: Montserrat;
  font-style: normal;
  color: white;
  height: 100wh;
}

h1 {
  font-family: Calibri;
  font-size: 36px;
  font-weight: normal;
}

h2 {
  font-family: Calibri;
  font-size: 24px;
}

.img {
  max-width: 50%;
  vertical-align: middle;
  display: inline-block;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  height: 100vh;
  font-family: Montserrat;
  font-size: 14px;
  color: black;

  &__header {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__pres {
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-left: 15px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &--text {
    margin: 10px;
  }
}

.prenom {
  color: black;
  font-size: 75px;
  text-align: center;
}

.nom {
  color: black;
  font-size: 150px;
  text-align: center;
  font-weight: bold;
}
