@mixin autolayout($center) {
  display: flex;
  flex-direction: column;
  justify-content: $center;
  align-items: center;
  text-align: center;
}

img {
  max-width: 100px;
}

.presentation {
  height: 100%;
  font-family: Montserrat;
  color: white;
  font-weight: normal;
  font-style: normal;
  background-color: #3a393c;
  margin: 0;
}

.titre {
  font-size: 36px;
}

.quisuisje {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__titre {
    font-size: 36px;
  }
}

div {
  display: flex;
  flex-direction: row;
  margin: 50px;
  margin-top: 25px;
  justify-content: space-between;
  margin: 25px;
}

h1 {
  font-weight: normal;
  margin: 0;
  text-align: center;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}

h2 {
  margin: 15px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-family: Calibri;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
}

.presentation section {
  display: flex;
  flex-direction: row;
  margin: 50px;
  margin-top: 25px;
  justify-content: space-between;

  &.titre {
    font-size: 36px;
    text-decoration: underline black solid 5px;
    text-decoration-color: white;
  }
  &.passion {
    position: absolute;
    bottom: 0px;
  }
  &.img {
    margin-left: 50px;
  }
}

.activite {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation .footer {
  @include autolayout(center);
  bottom: 0;
  border: red;
  & .story {
    border: 1px solid;
    border-image-slice: 1;
    border-image: conic-gradient(
      from 182.29deg at 50% 51.92%,
      #d72b7e 0deg,
      #dc316f 45.2deg,
      #f27040 89.25deg,
      #fad3b0 121.56deg,
      #f57b36 177.78deg,
      #db3377 238.48deg,
      #c63192 294.15deg,
      #d72b7e 360deg
    );
  }
}

.presentation .competence {
  flex-direction: row;
  justify-content: space-between;
  @include autolayout(left);
  .presentation design {
    // justify-content: space-between;
    @include autolayout(center);
  }

  &__code {
    display: flex;
    flex-direction: column;
    @include autolayout(center);
    text-align: center;
  }

  &__design {
    display: flex;
    flex-direction: column;
    @include autolayout(center);
    text-align: center;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

code {
  margin: 15px;
}

.activite__titre {
  font-size: 36px;
}
